body, html {
    height: 100%;
    font-family: 'Andale Mono', monospace;
}

#content {
    position: relative;
    top: 10%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/code.jpg");
    top: 10%;
    height: 90%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -10px;
  }

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
  }

#hero-button {
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    font-size: 90%; 
}

.button {
    color: black;
    text-decoration: none;
}

  
.nav-button {
    color: white;
    text-decoration: none;
}
#navbar {
    background-color: #04789b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    z-index: 2;
}

#blog-card-heading {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
  
 .card {
     flex: 0 0 auto;
     text-align: center;
     background-color: silver;
     border-radius: 15%;
     margin: 30px 0px;
     box-shadow: 5px 10px #04789b;
 }
 
 img.card-img {
    width: 350px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
 }
 
 #footer {
     position: relative;
     top: 10%;
     height: 100px;
     width: 100%;
     margin: 0px -10px;
     padding: 10px;
     background-color: #04789b;
     color: #505050;
     text-align: center;
 }
 p.footer {
    text-align: center;
 }

 #content-heading {
     width: 50%;
     margin: auto;
 }

 hr {
     border-top: solid #04789b;
     width: 75%;
 }